*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #222;
  background-color: #fefefe;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

header h1 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0 auto;
}

.container {
  max-width: 32rem;
  margin: 1.5rem auto;
  padding: 1.25rem;
}

.edit-mode {
  color: #888;
}

/* Form Input */
.form-input {
  width: 100%;
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
  padding: 0.6rem;
  border: 1px solid #aaa;
  border-radius: 0.25rem;
  outline: none;
}

.form-input-filter {
  margin-top: 1.25rem;
  width: 100%;
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #aaa;
  background: transparent;
  outline: none;
}


/* Buttons */
.btn {
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.6rem;
  cursor: pointer;
  font-size: 1.125rem;
  min-width: 10rem;
}

.btn i {
  padding-right: 0.75rem;
}

.btn:hover {
  background-color: blue;
}

.btn-link {
  font-size: 1rem;
  background-color: transparent;
  color: #222;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-clear {
  margin-top: 1.25rem;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  color: #222;
  border: 1px solid #aaa;
  border-radius: 0.25rem;
  padding: 10px 1.25rem;
  cursor: pointer;
}

.btn-clear:hover {
  background-color: #f1f1f1;
}

.text-red {
  color: crimson;
}

/* Shopping List Items */

.items {
  margin-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
}

.items li {
  display: flex;
  justify-content: space-between;
  width: 45%;
  border: 1px solid #aaa;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  margin: 0 0.25rem 1.25rem;
  font-weight: 700;
  cursor: pointer;
}

.items li:hover {
  background-color: #f1f1f1;
}

/* Icon Credit */
.icon-credit {
  padding: 0.2rem 0.4rem;
  font-size: 0.75rem;
  opacity: 0.4;
  position: fixed;
  bottom: 0;
  left: 0;
}

.project-credit {
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  opacity: 0.6;
  position: fixed;
  bottom: 0;
  right: 0;
}


.icon-credit a,
.icon-credit a:active,
.icon-credit a:visited {
  text-decoration: none;
  color: #222;
}

.project-credit a,
.project-credit a:active,
.project-credit a:visited {
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

@media (max-width: 512px) {
  .items li {
    width: 100%;
  }
}